body {
  display: flex;
  justify-content: center;
}

.blocks {
  margin-top: 5%;
  display: flex;
  /* flex-direction: row-reverse; */
  margin-top: 30%;
}

#redRocket {
  height: 200px;
  width: 250px;
  transform: rotate(45deg); 
}

#blueRocket {
  height: 200px;
  width: 200px;
  transform: rotate(45deg); 
}

#greenRocket {
  height: 200px;
  width: 200px;
  transform: rotate(45deg); 
}

#pinkRocket {
  height: 200px;
  width: 200px;
  transform: rotate(45deg); 
}

#grayRocket {
  height: 200px;
  width: 200px;
  transform: rotate(45deg); 
}